{% extends 'main.html' %}

{% block content %}
<style>
    .message-body{
        width: 60%;
        height:fit-content;
        margin: auto;
        margin-bottom: 10px;
        padding: 12px 20px;
        border-radius: 10px;
        background-color: antiquewhite;
        border: 3px rgb(225, 150, 150) solid;
    }
    
    .message-body .upper-tag{
        display: flex;
        margin-left: auto;
        justify-content: space-between;
    }
    
    .message{
        padding: 5px;
        font-size: 20px;        
        border-radius: 10px;
        border: 0px solid white;
        background-color: rgb(255, 255, 255);
    }

    .main-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .messages{
        margin-right: 10px;
    }
    .participants-sidebar{
        margin-left: 10px;
    }

    .comment-form{
        width: 60%;
        margin: auto;
        margin-bottom: 10px;
    }

    .comment-form input{
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        font-size: large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>



<h2>This is the particular room page</h2>
    <center>
        <h1>{{ room.name }}</h1>
        <p>This Room was created on : {{ room.created }}</p><br><br>
        <p>{{ room.description }}</p>
    </center>

    <div class="main-container">

        
        <div class="messages">
            <h2><strong>Comments</strong></h2>
            <hr>
            {% if request.user.is_authenticated %}
                <form class="comment-form" action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="msg" id="msg" placeholder="Write a comment here...">
                </form>
            {% endif %}
            <hr>
            {% for message in comments %}
            <div class="message-body">
                <div class="upper-tag">
                    <p>@{{ message.user }}</p>
                    <p>{{ message.created|timesince }}</p>
                </div>
                <p class="message">{{ message.body }}</p>
                {% if message.user == request.user %}
                    <a href="/delete-message/{{message.id}}">Remove</a>
                {% endif %}
            </div>
            
            {% endfor %}
        </div>
        
        <div class="participants-sidebar">
            <h2><strong>Participants</strong></h2>
            <hr>
            {% for usr in participants %}
            <p>{{ usr }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}